.w-100pc {
	display: flex;
	justify-content: space-around;
	background-color: #80bdff;
}

.w-100pc div {
	padding: 15px;
	color: white;

}

.w-100pc div:hover {
	cursor: pointer;
}

#section_info {
	width: 60%;
	margin: auto;
	margin-top: 5%;
}

.fa-remove {
	padding: 15px;
	color: #ff8083;
}

.display_none {
	display: none;
}