<!--<div style="background-color: black;color:white; width:200px;height:100%;position:absolute;text-align:centert" >
	Ajouter un CV
</div>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse clock" id="navbarNavAltMarkup">
    <div class="navbar-nav" >
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link">Ajouter informations</a>
      <a class="nav-item nav-link">Model de CV</a>
      <a class="nav-item nav-link">Parametrage</a>
      <a class="nav-item nav-link" v-on:click="destroy" style="color:red">Déconnexion</a>
    </div>
  </div>
</nav>